.nav-bar {
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.header {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
	height: auto;
}

.righty {
	float: right;
	display: inline-block;
	font-family: courier;
	margin-left: 15px;
}